##### 3.2.2.5.2 Acceptable Methods of Verification

To verify a Verified Method of Communication with the Applicant, the CA MUST:

A.  Verify that the Verified Method of Communication belongs to the Applicant, or a Parent/Subsidiary or Affiliate of the Applicant, by matching it with one of the Applicant's Parent/Subsidiary or Affiliate's Places of Business in:

  i. records provided by the applicable phone company;
  ii. a QGIS, QTIS, or QIIS; or
  iii. a Verified Professional Letter; and

B.  Confirm the Verified Method of Communication by using it to obtain an affirmative response sufficient to enable a reasonable person to conclude that the Applicant, or a Parent/Subsidiary or Affiliate of Applicant, can be contacted reliably by using the Verified Method of Communication.

