{% include 'includes/header.html' %}

<main>
    Loading all documents in one view might slow down your browser, therefore its recommended to navigate to a specific section of the documents using the index below. 
    
    If you still want to load all documents, <a href="/documents/all/">click here</a>.
    <u>
    {% for section, files_dict in sections.items() %}
        <li style="margin-left: {{ section|length }}px;"><a href="/documents/{{ section }}/">{{ section }}</a></li>
    {% endfor %}
    </u>
</main>

{% include 'includes/footer.html' %}
